<%= form_for(@bid) do |f| %>
	<p>
		<%= f.label :amount %>
		<%= f.text_field :amount %>
	</p>
	<p>
		<%= f.label :notes %>
		<%= f.text_field :notes %>
	</p>
	<p>
		<%= f.label :days %>
		<%= f.text_field :days %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
