.row{ :style => 'text-align: center;' }
  = form_for @job do |f|
    .span4.offset4
      = f.error_messages
      %p
        = f.label :name, 'Name of your Project'
        = f.text_field :name
      %p
        = f.label :dimension_x, 'Approximate Width (in inches)'
        = f.text_field :dimension_x
      %p
        = f.label :dimension_y, 'Approximate Height (in inches)'
        = f.text_field :dimension_y
      %p
        = f.label :material, 'Material'
        = f.select(:material, Job::MATERIALS)
      %p
        = f.label :completion_date, 'Completion Date'
        = f.date_select :completion_date
      %p
        = f.label :budget, 'Approximate Budget'
        = f.text_field :budget
      %p
        = f.label :file_url
        = f.filepicker_field :file_url, :options => { :button_class => 'btn', :mimetypes => "image/png,image/svg" }
      %p
        = f.submit 'Make a Bid &raquo;'.html_safe, :class => 'btn btn-primary btn-large'
