
.well
	.row
		.span2{ :style => 'text-align: center' }
			%img{ :src => job.file_url, :style => 'border-radius: 5px; width: 128px; height: 128px;' }

		.span9
			%h3
				= link_to job.name, job_path(job)

				%small.muted
					by
					%a{ :href => user_path(job.user) }
						= job.user.email

			%p
				%strong
					= job.dimension_x
				inches by
				%strong
					= job.dimension_y
				inches

				%br
				
				requested for 
				%strong
					$
					= job.budget

				%br

				must be done by 
				%strong
					= job.completion_date
