<!DOCTYPE html>
%html
	%head
		%title Thingsmith
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= filepicker_js_include_tag
	%body
		.container
			= render 'layouts/navbar'

			- if flash[:notice]
				.alert{ :style => 'text-align: center;'}
					%strong
						Hey!
					= flash[:notice]

			= yield
